<div id="about-content">
    <h2>О компании Facebook Inc.</h2>
    <p>Компания Facebook известна практически каждому жителю Земли,
        не говоря уже о трейдерах. Основание компании отмечено в 2004 году.
        Она относительно молодая и очень перспективная в сравнении с
        американскими компаниями. Создана Марком Цукербергом в Гарвардском
        институте, во время его обучения.
    </p>
    <p>Статистика посещения сайта Facebook впечатляет. За месяц данный <strong>ресурс
        посещают около 2 млрд. человек.</strong> Суточная активность более 720 млн. Facebook.com
        входит В ТОП 5 сайтов по посещаемости в Мире. Мобильные приложения Facebook (Android/iOS)
        пользуются свыше чем на млрд. устройств. По статистике Марк Цукерберг <strong>стал
        самым молодым миллиардером</strong> планеты. Первый миллиард долларов он заработал
        в возрасте 23 года. В 2010 году известный журнал Forbes признал Марка самым
        молодым миллиардером с общим состоянием в 4 млрд. долларов.
    </p>
    <h3>Стоимость акций Facebook – реальная цена онлайн</h3>
</div>