<div id="buy-guide">
  <h2>Как купить акций FACEBOOK в CLIQ FX?</h2>

  <p class="first-step"><strong>1.</strong>Для того, чтобы приобрести Акции компании Facebook,
    стоит произвести первичную регистрацию в брокерской компании CLIQ FX.
    Затем выбрать платёжную систему для пополнения депозита.
  </p>
  <p class="first-step--paragraph">Сориентируем Вас: чтобы купить 3 акции Facebook (FB) на момент
    стоимости 180,41 USD за акцию с кредитным плечом 1:1 Вам
    необходимо минимум: 180.41*3=541,23 USD</p>
  <img src="assets/images/step-1.jpg" align="STEP 1" />

  <p><strong>2.</strong>Далее необходимо выбрать торговый счет с подходящими
    для Вас условиями и пополнить его, совершив перевод с балансового счета
    Wallet на Ваш торговый.
  </p>
  <img src="assets/images/step-2.jpg" align="STEP 2" />

  <p><strong>3.</strong>После пополнения торгового счёта, Вам необходимо будет
    скачать торговую платформу MT4 компании CLIQ FX. Перейдите в Личном
    Кабинете на «Главная» и выберите «Get MT4 Terminal».
  </p>
  <img src="assets/images/step-3.jpg" align="STEP 3" />

  <p><strong>4.</strong>После введите данные от торгового счёта, который Вы
    создали. В «Окно котировок» выбрать «Показать все символы» и найти тикер «FB».
  </p>
  <img src="assets/images/step-4.jpg" align="STEP 4" />

  <p><strong>5.</strong>После открытия тикера «FB» выберите «Открыть новый ордер»
    и впишите, то количество акций, которое Вам необходимо для инвестирования
    и нажмите «Buy».
  </p>
  <img src="assets/images/step-5.jpg" align="STEP 5" />

  <p><strong>6.</strong>И так, Вы купили 3 акции компании «FB»! Наши поздравления!</p>

  <h3>Что ещё стоит знать о выгодности покупки акций FACEBOOK?</h3>
</div>