<div id="card-company">
    <h2>Карточка компании Facebook</h2>

    <table>
        <tr>
            <th>
                <div>
                    <svg width="33" height="33">
                        <use xlink:href="assets/svg/sprite.symbol.svg#facebook-logo"></use>
                    </svg>
                </div>
            </th>
            <th></th>
        </tr>
        <tr>
            <td>FACEBOOK</td>
            <td>Информационные и высокие технологии</td>
        </tr>
        <tr>
            <td>ОСНОВАНИЕ</td>
            <td>2004 год</td>
        </tr>
        <tr>
            <td>ШТАБ-КВАРТИРА</td>
            <td>Менло-Парк, Калифорния</td>
        </tr>
        <tr>
            <td>ОСНОВАТЕЛЬ</td>
            <td>Марк Цукерберг, Эдуардо Саверин,
                Дастин Московиц, Крис Хьюз</td>
        </tr>
        <tr>
            <td>ОСНОВНЫЕ ТОРГОВЫЕ ПЛОЩАДКИ</td>
            <td>NASDAQ</td>
        </tr>
        <tr>
            <td>ТИКЕР</td>
            <td>fb</td>
        </tr>
        <tr>
            <td>ISIN КОД</td>
            <td>US30303M1027</td>
        </tr>
        <tr>
            <td>Номинал</td>
            <td>0.000006 USD</td>
        </tr>
        <tr>
            <td>КОЛИЧЕСТВО АКЦИЙ В ОБРАЩЕНИИ</td>
            <td>2 882 167 478</td>
        </tr>
    </table>
</div>