<div id="founders">
    <h2>Основатели компании</h2>
    <p>Основателями компании Facebook являются:</p>

    <div class="founders-container">
        <section>
            <img src="assets/images/mark-zuckerberg.png" alt="" />
            <h3>Марк Эллиот Цукерберг</h3>
            <p>(Mark Elliot Zuckerberg)</p>
        </section>
        <section>
            <img src="assets/images/eduardo-saverin.png" alt="" />
            <h3>Эдуардо Саверин)</h3>
            <p>(Eduardo Saverin</p>
        </section>
        <section>
            <img src="assets/images/dustin-moskovitz.png" alt="" />
            <h3>Дастин Московиц</h3>
            <p>(Dustin Moskovitz)</p>
        </section>
        <section>
            <img src="assets/images/chris-hughes.png" alt="" />
            <h3>Крис Хьюз</h3>
            <p>(Chris Hughes)</p>
        </section>
    </div>
</div>