<div class="header-content">
  <div class="header-links">
    <ul>
      <li>
        <a href="#"><span class="icon-comments-o"></span>Live Chat</a>
      </li>
      <li>
        <a href="#">Contact Us<span class="icon-mail"></span></a>
      </li>
    </ul>
  </div>
  <div class="header-controls">
    <ul>
      <li id="login-btn">
        <a href="#"><span class="icon-login"></span>Login</a>
      </li>
      <li id="open-btn">
        <a href="#">Open Live Account</a>
      </li>
      <li id="demo-btn">
        <a href="#">Demo</a>
      </li>
      <li id="lang-selector">
        <a href="#">
          <img src="assets/images/uk-flag.png" alt="">
          <span>EN</span>
          <svg width="15" height="15">
            <use xlink:href="assets/svg/sprite.symbol.svg#triangle-down"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
