<div id="ipo-content">
    <h2>IPO</h2>
    <p>Датой активной деятельности компании Facebook можно считать 2004 год.
        Крупные инвесторы и даже крупный гигант Microsoft заинтересовались компанией
        Марка в 2007 году. В этом году компания <strong>Microsoft приобрела акций на сумму
        240 млн долларов.</strong> Это составляло 1,6% всех акций. Спрос на акции превышал
        предложение в несколько раз, что позволило компании разместиться по верхним
        границам цены. Продажа акций производилась напрямую, т.к. aмериканские биржи не
        были задействованы на тот момент. Благодаря этому, капитализация компании составила
        15 млрд. долларов.
    </p>
    <p>18 мая 2012 года компания FACEBOOK вышла на биржу NASDAQ и акциям компании
        был присвоен тикер FB.  Эмитент FB смог разместить акции по цене 38 USD за
        1 акцию, при этом капитализация компании поднялась к 104 млрд. долларов.
        Хорошая реклама позволила компании провести успешное IPO.
    </p>
    <p>Акции компании <strong>очень ликвидны</strong> и привлекают не только мелких инвесторов, но
        и крупных игроков. Дополнительной рекламой можно рассматривать добавление
        в индексы NASDAQ100 и другие. Эти индексы повышают привлекательность и спрос
        на акции, что в конечном итоге влияет на курс акций.
    </p>
</div>