<div>
  <h1>Акции компании Facebook</h1>
</div>
<div class="links-container">
  <ol>
    <li><a href="#about-content">О компании FACEBOOK Inc.</a></li>
    <li><a href="#online-price">Стоимость акций Facebook – реальная цена онлайн</a></li>
    <li><a href="#founders">Основатели компании</a></li>
    <li><a href="#card-company">Карточка компании FACEBOOK</a></li>
    <li><a href="#ipo-content">IPO</a></li>
    <li><a href="#profit-content">Почему выгодно купить акции компании FACEBOOK?</a></li>
    <li><a href="#buy-guide">Как купить акций FACEBOOK в CLIQ FX?</a></li>
    <h3>Что ещё стоит знать о выгодности покупки акций FACEBOOK?</h3>
    <li><a href="#subsidiary-companies">Дочерние компании Facebook Inc</a></li>
    <li><a href="">Дивиденды</a></li>
    <li><a href="">Динамика курса акций</a></li>
    <li><a href="">Аналитика акций Tesla</a></li>
    <li><a href="">Фиксация убытков</a></li>
    <li><a href="">Планы компании</a></li>
  </ol>
</div>