<div class="footer-row">
  <div class="box">
    <img src="assets/images/logo-f.png" alt="Cliqfx" class="footer-logo">
    <p class="footer-text">
      <strong>Legal:</strong>
      CliqFX is registered and regulated by Vanuatu Financial Services Commission (VFSC) under the Registration Number
      15000. The company has securities dealing license, which authorizes us to deal with securities and to provide all
      kind of financial services to our customers.
    </p>
    <p class="footer-sub"><strong>Risk Warning:</strong>
      Forex Trading involves significant risk to your invested capital. You should not invest more then you can afford
      to lose. Please read and ensure you fully understand our Risk Disclosure.
      Registered Address: 133 Santina Parade, Elluk, Port Vila, Efate, Vanuatu
    </p>
    <div class="footer-icon">
      <a href="#"><span class="icon-facebook-with-circle"></span></a>
      <a href="#"><span class="icon-instagram-with-circle"></span></a>
      <a href="#"><span class="icon-linkedin-with-circle"></span></a>
      <a href="#"><span class="icon-google-with-circle"></span></a>
      <a href="#"><span class="icon-youtube-with-circle"></span></a>
      <a href="#"><span class="icon-twitter-with-circle"></span></a>
      <a href="#"><span class="icon-pinterest-with-circle"></span></a>
      <a href="#"><span class="icon-vk-with-circle"></span></a>
    </div>
  </div>
  <div class="edge">
    <form class="footer-form" action="#">
      <input type="text" placeholder="Name" class="footer-name">
      <input type="tel" placeholder="Phone" class="footer-phone">
      <input type="text" placeholder="Subject" class="footer-subject">
      <input type="email" placeholder="Email" class="footer-email">
      <textarea placeholder="Message" class="footer-message"></textarea>
      <a href="#" class="footer-submit">Send message</a>
    </form>
  </div>
</div>
