<div class="navigation-content">
  <div class="logotype">
    <a href="#">
      <img src="assets/images/logotype.png" alt="CLIQ FX">
    </a>
  </div>
  <div class="navigation-bar">
    <ul class="navigation">
      <li class="nav-element"><a class="active" href="#">Company Profile</a></li>
      <li class="nav-element"><a href="#">start Trading</a></li>
      <li class="nav-element"><a href="#">investments</a></li>
      <li class="nav-element"><a href="#">Education</a></li>
      <li class="nav-element"><a href="#">Promotions</a></li>
    </ul>
    <div class="menu-bar">
      <ul>
        <li class="menu-icon">
          <svg width="25" height="22">
            <use xlink:href="assets/svg/sprite.symbol.svg#menu-icon"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</div>