<div id="profit-content">
    <h2>Почему выгодно купить акции Facebook?</h2>
    <article>
        <div class="icons">
            <div>
                <svg width="34" height="42">
                    <use xlink:href="assets/svg/sprite.symbol.svg#businessman"></use>
                </svg>
            </div>
        </div>
        <div class="description">
            <h3>Марк Цукерберг – как главный вдохновитель и создатель компании</h3>
            <p>Как главное лицо компании он уверен в своем будущем и в будущем
                компании в целом. У Марка много идей, которые он воплощает
                в жизнь с очень серьёзным козырем – это сетевой эффект,
                который заключается в ценности продукта, и он очень полезен и
                в огромном спросе для человека, и для группы людей. Например,
                он объединяет и помогает связываться с людьми в разных частях
                света, за считанные секунды. Каждый новичок сети, приводит в
                сеть своих друзей и знакомых, тем самым повышая траффик и
                полезность сети.
            </p>
        </div>
    </article>
    <article>
        <div class="icons">
            <div>
                <svg width="34" height="42">
                    <use xlink:href="assets/svg/sprite.symbol.svg#network"></use>
                </svg>
            </div>
        </div>
        <div class="description">
            <h3>Информационная составляющая</h3>
            <p>По статистике, каждый пользователь проводит в среднем 18 минут
                в сутки и около 110 часов в год на ресурсе Facebook.com.
                Это позволяет компании анализировать поведенческий фактор
                пользователя, чтобы предложить лучшие условия по предоставлению
                рекламы. Если правительственные службы пытаются получить какую-то
                информацию о человеке, то у Facebook информации о человеке предостаточно.
                Это помогает компании зарабатывать ещё больше, т.к. компания знает,
                что нужно человеку и в каком пространстве он находится.
            </p>
        </div>
    </article>
    <article>
        <div class="icons">
            <div>
                <svg width="34" height="42">
                    <use xlink:href="assets/svg/sprite.symbol.svg#bars"></use>
                </svg>
            </div>
        </div>
        <div class="description">
            <h3>Рост и ещё раз рост</h3>
            <p>Спрос на социальные сети и услуги растут с каждым днём.
                У пользователей появляются новые методы связи, компания
                предлагает всё больше и больше услуг, что отражается на
                распространении и узнаваемости бренда во всём мире. Люди
                активно общаются между собой, проводят транзакции и покупают
                товары.  Компания в свою очередь покупает новые проекты и
                стартапы.
            </p>
        </div>
    </article>
    <div class="more-information">
        <h2>Рыночная капитализация за 2017 год превысила свыше 500 млрд. долларов в год.</h2>
    </div>
    <article>
        <div class="icons">
            <div>
                <svg width="34" height="42">
                    <use xlink:href="assets/svg/sprite.symbol.svg#mobile-phone"></use>
                </svg>
            </div>
        </div>
        <div class="description">
            <p>Основной упор был сделан на виртуальную реальность, искусственный интеллект и дополненную реальность.</p>
            <h3>Не забывайте об Instagram и WhatsApp Inc</h3>
            <p>Ещё никто не знает, как компания Facebook будет монетизировать WhatsApp Inc.
                Рекламы и рекламных баннеров там нет. А Instagram пользуется огромной
                популярностью. Соответственно эти проекты будут иметь огромную прибыль в
                перспективе.
            </p>
        </div>
    </article>
    <div class="more-information">
        <h2>Стоит компании начать монетизировать WhatsApp Inc. - доходы Facebook просто взлетят.</h2>
        <p>Таким образом <strong>инвестировать в компанию Facebook нужно прямо сейчас</strong> – это
            очень выгодное и перспективное дело. Компания-брокер CLIQ FX поможет
            Вам определить выгодное положение стоимости для наилучшего варианта
            покупки акций компании Facebook. Также стоит обратить внимание, что
            процесс покупки акций проводится только через брокеров.
        </p>
    </div>
</div>