<div id="subsidiary-companies">
  <h2>Дочерние компании Facebook Inc.</h2>
  <p>C момента основания компании Facebook Inc и получения доходов,
    освободившиеся средства компания инвестировала в новые проекты,
    а также покупала существующие. Среди крупных приобретений компании –
    это Facebook Payments Inc., Atlas, Instagram LLC, Onavo,
    Oculus, WhatsApp Inc., Masquerade, CrowdTangle.
  </p>
  <p>Давайте остановимся и разберём их подробнее.</p>
  <p><strong>Facebook Payments Inc.</strong> – платёжная система, которая продвигает интернет платежи в сети.</p>
  <p><strong>Atlas</strong> – рекламная контекстная сеть, которая призвана побороть монополию Google c её известной контекстной рекламой.</p>
  <p><strong>Instagram LLC</strong> - известная социальная сеть с использованием элементов обмена фотографий и видео сообщений.</p>
  <p><strong>Oculus</strong> – компания занимается производством небольших роликов с использованием технологий погружения в виртуальную реальность.</p>
  <p><strong>Onavo</strong> - израильская аналитическая компания. Компания предоставила аналитические продукты для мобильных приложений, собирая потребительские VPN-продукты компании Onavo Extend и Onavo Protect.</p>
  <p><strong>WhatsApp Inc.</strong> - представляет собой бесплатную и кроссплатформенную систему обмена мгновенными сообщениями и Voice over IP (VoIP).</p>
  <p><strong>CrowdTangle</strong> – компания занимающаяся анализом контента, в социальной сети Facebook.</p>
  <p><strong>Masquerade</strong> – которая занимается мобильными приложениями для работы с фото и видеофайлами.</p>
</div>