

C момента основания компании Facebook Inc и получения доходов, освободившиеся средства компания инвестировала в новые проекты, а также покупала существующие. Среди крупных приобретений компании – это Facebook Payments Inc., Atlas, Instagram LLC, Onavo, Oculus, WhatsApp Inc., Masquerade, CrowdTangle.

Давайте остановимся и разберём их подробнее.

Facebook Payments Inc. – платёжная система, которая продвигает интернет платежи в сети.

Atlas – рекламная контекстная сеть, которая призвана побороть монополию Google c её известной контекстной рекламой.

Instagram LLC – известная социальная сеть с использованием элементов обмена фотографий и видео сообщений.

Oculus – компания занимается производством небольших роликов с использованием технологий погружения в виртуальную реальность.

Onavo - израильская аналитическая компания. Компания предоставила аналитические продукты для мобильных приложений, собирая потребительские VPN-продукты компании Onavo Extend и Onavo Protect.

WhatsApp Inc. - представляет собой бесплатную и кроссплатформенную систему обмена мгновенными сообщениями и Voice over IP (VoIP).

CrowdTangle – компания занимающаяся анализом контента, в социальной сети Facebook.

Masquerade – которая занимается мобильными приложениями для работы с фото и видеофайлами.


Акционеры компании




















Дивиденды

Компания FACEBOOK не выплачивает дивиденды. Менеджмент компании направляет всю прибыль в размере 100% на покупку новых активов для большего развития проекта в сети интернет. Аналитики не дают точных прогнозов, когда данный эмитент начнёт выплачивать дивиденды акционерам компании.  Возможно в будущем менеджмент примет распределения дивидендов.

Курс стоимости ценных бумаг Facebook - онлайн




































Динамика курса акций

Во время первичного размещения на IPO курс акций поднимался до максимальной отметки в размере 38 USD за бумагу. После проведения первичного IPO курс акций начал резко снижаться и доходил до своего минимума в размере 20 USD за бумагу. Это было связано с тем, что на старте размещения бумаг инвесторы переоценили возможности компании. Но по мере падения курса стоимости акций, инвесторы стали активнее закупать. По мере роста фондового рынка США, стоимость курса акций растёт как на «дрожжах». Особенно тренд акций компании начал расти с небольшими коррекциями после 2013 года.


Аналитика акций Facebook

Торгуйте акциями крупнейшей социальной сети американского эмитента и извлекайте прибыль как в краткосрочной перспективе, так и в долгосрочной. Обращайте внимание на аналитику экспертов отрасли, на модели технического и графического анализа, это поможет Вам предугадать курс движения акций и заработать на этом. Нужно обращать внимание на квартальные отчёты компании Facebook, а также проводить анализ рынка социальных сетей.

В среднесрочной перспективе, кроме методов графического и технического анализа, нужно изучать рынок, который имеет отношение к социальным технологиям, следить за анализом развития сети, посещений. Внимательно следить за инсайдами, где могут происходить покупки и поглощения новых проектов и стартапов. В среднесрочной перспективе – это будет оказывать влияние на курс акций компании.

В долгосрочной перспективе aкции Facebook могут принести инвесторам очень хорошую прибыль.

















Для этого финансовые отчёты компании должны стремительно показывать рост, увеличение аудитории и конечно же доходы от продажи рекламы. Крупные поглощения также будут сказываться на акции. Не стоит забывать о развитии тех проектов, которые Facebook уже приобрел.






